@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome to the Authentiq ASP.NET Core MVC Starter Project</h2>
        <p>
            To configure this demo please register a new client at the <a href="https://dashboard.authentiq.com/">Authentiq Dashboard</a>. 
            After you have a client, follow the instructions at the <a href="https://dashboard.authentiq.com/code-samples/asp-net/">code samples</a> section.
        </p>
    </div>
</div>
